<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Lambdaschool Website Recreate">
        <meta name="author" content="Sandeep Chandran">
        <!-- <link rel="icon" href="fonts/favicon.ico"> -->

        <title>Lambdaschool Re-Creation</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>

        <!----------------- Navbar ---------------------------->
        <div id="inverse-nav">  
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="http://www.lambdaschool.com/assets/img/lambdawhite.png" width="100" alt="">
                    </a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">ABOUT</a></li>
                        <div class="dropdown">
                            <li><a class="nav-link" id="courses">COURSES</a></li>
                            <div class="dropdown-content" id="myDropdown">
                                <a href="#" id="dropList">VIEW ALL COURSES</a></br>
                                <a href="#" id="dropList">COMPUTER SCIENCE</a></br>
                                <a href="#" id="dropList">ARTIFICIAL INTELLEGENCE</a></br>
                                <a href="#" id="dropList">JAVASCRIPT BOOTCAMP</a></br>
                                <a href="#" id="dropList">WEB DEVELOPMENT</a>
                            </div>
                        </div> 
                        <li><a class="nav-link" href="#">BLOG</a></li>
                        <li><a class="nav-link" href="#">CONTACT</a></li>
                        <li><a class="nav-link" href="#">APPLY</a></li>
                     </ul>
                </div>
            </div>
        </nav>
        </div>

        <div id="default-nav">    
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="http://www.lambdaschool.com/assets/img/lambdawhite.png" width="100" alt="">
                    </a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">ABOUT</a></li>
                        <div class="dropdown">
                            <li><a class="nav-link" id="courses">COURSES</a></li>
                            <div class="dropdown-content" id="myDropdown">
                                <a href="#" id="dropList">VIEW ALL COURSES</a></br>
                                <a href="#" id="dropList">COMPUTER SCIENCE</a></br>
                                <a href="#" id="dropList">ARTIFICIAL INTELLEGENCE</a></br>
                                <a href="#" id="dropList">JAVASCRIPT BOOTCAMP</a></br>
                                <a href="#" id="dropList">WEB DEVELOPMENT</a>
                            </div>
                        </div> 
                        <li><a class="nav-link" href="#">BLOG</a></li>
                        <li><a class="nav-link" href="#">CONTACT</a></li>
                        <li><a class="nav-link" href="#">APPLY</a></li>
                     </ul>
                </div>
            </div>
        </nav>
        </div>

        <!-- --------------- Banner ----------------- -->
        <div class="jumbotron">
            <div class="cover">
                <div class="container">
                    <h1>The Computer Science Education of the Future</h1>
                    <p>Immersive preparation for the world's most in-demand careers
                    for as little as <span>$0 until you're hired</span></p>
                </div>
                <div class="buttons">
                    <button class = "btn1">VIEW COURSES</button>
                    <button class = "btn2">APPLY NOW</button>
                </div>
            </div>
        </div>
        
        <!-- --------------Section 1------------------------- -->
        <div class="container-fluid row1">
            <div class="container">
                <h1>A New Model for Higher Education</h1>
                <p>Lambda School invests in a small number of ambitious individuals by training them for the world's most in-demand careers.
                In exchange, Lambda School graduates pay back a small percentage of their salary after they are hired.</p>
                <div class="container row1-A">
                    <h3>Selection</h3>
                    <p>Applicants run through a battery of tests and interviews designed to identify those with the greatest aptitude for a highly technical career.</p>
                </div>
                <div class="container row1-B">
                    <h3>Training</h3>
                    <p>Once students are selected, a small class undergoes live, intensive online training designed to meet the rigorous demands of our hiring partners.</p>
                </div>
            </div>
        </div>

        <!-- ------------------Section 2---------------------------- -->
        <div class="container-fluid row2">
            <div class="container">
                <h1>Lambda School Courses</h1>
                <div class="row row-eq-height">
                    <div class="col-md-6 row2-box box-left">
                        <p><span style="font-weight:800;">COMPUTER SCIENCE</span> ACADEMY</p>
                        <hr>
                        <p>6 months (full-time) </br>
                           Web and Software Engineering </br>
                           $0 up-front </br>
                           + 17% of salary for 2 yrs </br>
                           (or $20,000 up-front) </p>
                        <button type="button" class="btn btn-info">LEARN MORE</button>
                    </div>
                    <div class="col-md-6 row2-box box-right">
                        <p><span style="font-weight:800;">MACHINE LEARNING and AI</span> ACADEMY</p>
                        <hr>
                        <p>6 months (full-time) </br>
                           Machine and Deep Learning </br>
                           $0 up-front </br>
                           + 17% of salary for 2 yrs </br>
                           (or $20,000 up-front) </p>
                        <button type="button" class="btn btn-info">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- -----------------------Section 3-------------------------- -->
        <div class="container-fluid row3">
           <div class="row row-eq-height">
               <div class="col-md-4 image">
               </div>
               <div class="col-md-8 text">
                   <h2>The skills you need, wherever you are</h2>
                   <p>Lambda School is streamed live from Silicon Valley to a small, interactive class located all over the world.</br></br>
                    Featuring world-class instructors, cutting edge curriculum, and plenty of one-on-one help, you can attend Lambda School from wherever you happen to be.</p>
               </div>
           </div> 
        </div>

        <!-- --------------------------Section 4----------------------------- -->
        <div class="container-fluid row4">
            <div class="container">
                <h1>Graduate Risk-Free</h1>
                <p>Only begin paying tuition after you have a job.</br>
                   Only continue paying while you're making more than $50,000/year.</br>
                    <span style="font-weight:800">No more unpayable student loans.</span></p>
                <div class="container row4-A">
                    <h3>A RISK-FREE CAREER</h3>
                    <p>Once you have a high-paying job, you'll pay back tuition or a percentage of your salary.</p>
                </div>
                <div class="container row4-B">
                    <h3>ALIGNED INCENTIVES</h3>
                    <p>We only succeed if you do. We make an investment in you, instead of the other way around.</p>
                </div>
            </div>
        </div>

        <!-- ---------------------------Section 5--------------------------------- -->
        <div class="container-fluid row5">
            <h5 style="font-weight:800;">CLASSROOM EXPERIENCE</h5>
            <p>Lambda School's online classroom experience is the same as any physical classroom should be—live students, live instructors, full interaction, pair programming, and frequent code reviews.</p>
        </div>

        <!-- ------------------------Section 6----------------------------- -->
        <div class="container-fluid row6">
            <h1>World-Class Instructors</h1>
            <div class="row row-eq-height">
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/karthik.png" alt="Lambda School Instructor" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Karthik Viswanathan</h4>
                            <p>Karthik previously taught Computer Science at Stanford University, and has worked at companies like Stripe and Mozilla.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/ben.jpg" alt="Lambda School Instructor" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Ben Nelson</h4>
                            <p>Ben hails from Hack Reactor and Dev Mountain, as well as iFit, where he was a full stack developer for several years.</p>                        </div>
                    </div>
                </div>
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/sean.jpg" alt="Lambda School Instructor" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Sean Chen</h4>
                            <p>Sean comes from the Applied Math program at UC Berkeley, as well as contracting for NASA's Jet Propulsion Laboratory.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/ryan.jpg" alt="Lambda School Instructor" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Ryan Hamblin</h4>
                            <p>Ryan was a senior engineer at several companies, and spent some time at both Dev Mountain and Maker Square (now Hack Reactor).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------Section 7------------------------- -->
        <div class="container-fluid row7">
           <div class="row row-eq-height">
               <div class="col-md-6 text">
                   <h2>Top-Down Education</h2>
                   <p>Unlike traditional Computer Science programs, Lambda School teaches computer science principles by programming. Instead of starting with theory, we start by building applications, and add on layers of algorithms, abstraction, computer architecture, and theory to make our applications better.</br>
                    You'll not only learn the practical skills required to become a software engineer, but how to think abstractly and solve problems from first principles.</p>
               </div>
               <div class="col-md-6 image">
               </div>
           </div> 
        </div>

        <!-- --------------------------Section 8----------------------- -->
        <div class="container-fluid row8">
            <h1>Free Lambda School Courses</h1>
            <div class="row row-eq-height">
                <div class="col-md-6 row8-box box-left">
                    <h3>JavaScript Mini Bootcamp</h3>
                    <p>A rapid introduction to JavaScript—the fundamental language of the web.</p>
                </div>
                <div class="col-md-6 row8-box box-right">
                    <h3>Web Development Mini Bootcamp</h3>
                    <p>An overview of HTML, CSS, JavaScript, and how they all work together.</p>
                </div> 
            </div>
        </div>

        <!-- --------------------------Section 9------------------- -->
         <div class="container-fluid row9">
           <div class="row row-eq-height">
               <div class="col-md-6 image">
               </div>
               <div class="col-md-6 text">
                   <h2>Diverse backgrounds, valuable network</h2>
                   <p>The Lambda School application process is blind to gender and race. Our students come from a wide variety of backgrounds, and hail from all over the world.
                    </br>Lambda School students stay connected long after their class ends, and are always welcome back to audit classes, view archives, and continue learning.</p>
               </div>
           </div> 
        </div>

        <!-- ------------------------Section 10----------------------------- -->
        <div class="container-fluid row10">
            <h1>Meet the Students — Current Class</h1>
            <div class="row row-eq-height">
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/jiovan.jpg" alt="Lambda School Student" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Jiovan Melendez</h4>
                            <p>Jiovan was the second employee and director of product at Scan, which was acquired by Snapchat for $54 million in 2014. He speaks three languages with native fluency.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/latoyya.png" alt="Lambda School Student" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Latoyya Smith</h4>
                            <p>Before joining Lambda School, Latoyya held a B.S. and an M.S. in Computer Science. After interning at Google, she joined Lambda School to make her theoretical knowledge practical.</p>                        </div>
                    </div>
                </div>
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/patrick.jpg" alt="Lambda School Instructor" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Patrick Kennedy</h4>
                            <p>Patrick was the assistant editor for "Cars" and "Ratatouille" at Pixar in addition to having been a bioremediation technician at Forensiclean.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 image">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="http://www.lambdaschool.com/assets/img/drew.jpg" alt="Lambda School Instructor" width="100%" >
                        </div>
                        <div class="panel-footer">
                            <h4>Drew Mueller</h4>
                            <p>Drew traveled the world playing poker professionally during most of his 20s. He joined Lambda School to find a new, more sustainable career.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------------Section 11----------------------- -->
        <div class="jumbotron row11">
            <h1>Top-rated computer science program</h1>
            <p>Lambda School carries a near-perfect rating on all review sites</p>
                <div class="row row-eq-height">
                <div class="col-md-6 row11-box box-left">
                    <h3>4.98 of 5 stars on Course Report</h3>
                    <p>“This is the kind of stuff they should be teaching in schools. Absolute five star course.”</p>
                </div>
                <div class="col-md-6 row11-box box-right">
                    <h3>4.95 of 5 stars on SwitchUp</h3>
                    <p>“Phenomenal. The stuff on React alone is worth the price of the full class”</p>
                </div> 
            </div>
        </div>

        <!-- -----------------------Section 12--------------------------- -->
        <div class="container-fluid row12">
            <div class="container">
                <h2>Applications Now Open</h2>
                <button>APPLY NOW</button>
            </div>
        </div>

        <!-- ---------------------Footer-------------- -->
        <div class="container-fluid footer">
            <ul class="footer-nav">
                <li>Courses</li>
                <li>Hiring Partners</li>
                <li>Careers</li>
                <li>Privacy Policy</li>
                <div class="icons">
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                </div>
            </ul>
            <p style="color:grey; margin-left:40px; font-size:18px; margin-top:20px;">support@lambdaschool.com</p>
        </div>

        <!-- ------------------Javascript----------------- -->
        <script src="script.js"></script>
    </body>
</html>