body {
  background-color: whitesmoke;
}

.main-container {
  height: 300px;
  width: 100%;
}

.navbar {
  height: 75px;
  max-height: 100px;
  background: lightblue;
  width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hotpink;
}

li {
    float: left;
}

/* .left {
  float: left;
  text-decoration: none;
  width: 50px;
  height: 30px;
  hover: pointer;
     background: blue; */
/* }  */

.navbar-list li {
  /*   float: left; */
  background: pink;
  color: white;
  padding: 0px;
  margin: 5px;
}

.box1 {
    text-align: center; 
    background-color: slateblue;
    height: 100px;
    margin: 0px auto 300px;
    padding: 20px;
    width: 400px;
}
 
.main-container-end {
  height: 75px;
  max-height: 100px;
  background: lightgreen;
  width: 100%;
}

.footer {
  height: 75px;
  max-height: 100px;
  background: salmon;
  width: 100%;
}
