html {
}
body { 
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
}
p { 
}
h1, h3, h5 { 
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
.Navbar {
}
.WhiteSection {
  background-color: #ffffff;
  color: #767676;
}
.OffWhiteSection {
}
.FatWhiteRectangle {
}
.BlueGuy {
  background: #428fbb;
}
.WhiteRectangle {
}
.BluePicture {
  background: #428fbb;
}
.BlackSection {
}

.ShortWhiteRectangle {
}
.FatWhiteRectangle {
}
.BlueGirl {
  background: #428fbb;
}
.SolidBlueSection {
  background: #428fbb;
}
.OffWhiteFooter {
}
