.lambda-school-courses {
  background: #f4f4f4;
  padding-top: 6.5em;
  min-height: 100vh;
  min-width: 100vw;
  content: "";
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-courses {
  text-align: center;
}

.row-title {
  text-align: center;
  padding-bottom: 20px;
}

.row-title>h3 {
  margin-bottom: 0.8125em;
  font-size: 2em;
  line-height: 1.421875em;
  font-family: 'Montserrat','Helvetica','Arial',sans-serif;
  color: #343434;
  font-weight: 600;
  text-align: center;
}

#course-box {
  display: inline-block;
  height: 430px;
  width: 375px;
  text-align: center;
  margin-left: 25px;
}

.box-wrapper {
  display: inline-block;
  margin: 0 auto;
}

.left-class {
  display: inline-block;
  text-align: center;
  background: #fff;
}

.left-class:hover{
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.1), -12px 0 8px -4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s linear;
}

.right-class:hover{
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.1), -12px 0 8px -4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s linear;
}

.right-class {
  display: inline-block;
  text-align: center;
  background: #fff;
}

h6 {
  font-family: 'Montserrat','Helvetica','Arial',sans-serif;
  color: #343434;
  font-size: .72em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2.6em;
}

#courses-p {
  line-height: 1.625em;
  font-size: 1em;
  color: #767676;
  margin-bottom: 3.25em;
}

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  width: 351px;
}


.cs-button {
  font-family: 'Montserrat','Helvetica','Arial',sans-serif;
  font-size: 0.635em;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #428fbb;
  background-color: #428fbb;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 1.625em;
  padding-top: 1.625em;
  padding-bottom: 1.65em;
  padding-right: 5.25em;
  padding-left: 5.25em;
  letter-spacing: 1px;
}

.cs-button:hover {
  transition: 0.1s linear;
  background-color: #559bc3;
  border-color: #559bc3;
}
