html, body {
  background-color: whitesmoke;
}

/* NAVIGATION BAR */
nav {
  width: 100%;
  height: 50px;
  max-height: 100px;
  background: lightblue;
  padding: 20px;
}
ul {
  list-style-type: none;/* Removes list buttons */
}
.navUL {
  background-color: hotpink;
  margin: 0px;
  padding: 10px;
  /*overflow: hidden;*/
  width: 35%;
  height: 50%;
}
li {
  margin: 0px 0px;
}
.navlist {
  float: left;
  margin: 0px 2px;
  background-color: yellowgreen;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .625)!important;
}

/* BODY */
section {
  height: 100%; /* height percentage relative to containing div */
  width: 100%;
}
.main-container {
  height: 100%; /* height percentage relative to containing div */
  width: 100%;
}

/* TOP FIRST CONTAINER */
#first-container {
  background-image: url('https://lambdaschool.com/assets/img/background.jpg');
  background-size: cover;
  /*background-repeat: no-repeat;
  background-position: center center;*/
}
.first-container-center {
  text-align: center;
  padding: 100px;
}
.box1 {
    /*text-align: center;*/
    background-color: slateblue;
    height: 33%;
    margin: 0px auto 30%;
    width: 400px;
}
#first-box1 {
  opacity: .7;
  padding: 20px;
  color: white;
}
.first-container-end {
  height: 75px;
  max-height: 100px;
  background: lightgreen;
  width: 100%;
}

.main-container-end {
  height: 75px;
  max-height: 100px;
  background: lightgreen;
  width: 100%;
}

/* SECOND CONTAINER */
#second-container {
  padding: 100px 0px 0px 0px;
  background-color: #ddddee;
}
.second-container-center {
  padding: 100px;
}
#second-box1 {
  padding: 30px;
  background-color: #ddbbbb;
}
#second-leftBox {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #bbddbb;
  /*margin: 0px, 0px, 300px, 0px;*/
}

#second-rightBox {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #bbbbdd;
  /*padding: 0px, 30px, 0px, 10px;*/
  border-color: whitesmoke;
  border-left-width: 50px;
}
.second-container-end {
  height: 75px;
  max-height: 100px;
  background: lightgreen;
  width: 100%;
}

/* NEXT CONTAINERS */
.container-center {
  /*text-align: center;*/
  /*padding: 100px;*/
}

#leftBox {
  float: left;
  width: 50%;
  height: 100%;
  background-color: purple;
  /*margin: 0px, 10px, 0px, 30px;*/
}

#rightBox {
  float: right;
  width: 50%;
  height: 100%;
  background-color: green;
  /*padding: 0px, 30px, 0px, 10px;*/
  border-color: whitesmoke;
  border-left-width: 50px;
}


/* FOOTER */

.footer {
  height: 75px;
  max-height: 100px;
  background: salmon;
  width: 100%;
}
